#key_type {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#repeat_area {
    text-align:center;
}

button {
    border-radius: 6px;
    border: 2px solid black;
}

#bar_bg {
  margin: auto;
  width: 50%;
  background-color: grey;
}

#bar_progress {
  width: 1%;
  height: 15px;
  background-color: green;
}
